@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Kalam&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
  color: white;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/forest.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25));
  border-radius: 25px;
  padding: 25px 100px;
  margin: 0 50px;
}

h1 {
  text-align: center;
  font-size: 96px;
  font-family: 'Caveat', cursive;
}

h2 {
  font-size: 32px;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
  .timer{
    margin-top: 10px;
  }
}

.timer{
  text-align: center;
}

#time-left{
  font-size: 84px;
  border: 5px solid white;
  border-radius: 25px;
  margin: 10px 0;
  padding-top: 10px;

}

.timer-control {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.setting {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.length-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.length-control {
  display: flex;
  align-items: center;
  gap: 15px;
}

#break-length {
  font-size: 28px;
}

#session-length {
  font-size: 28px;
}

button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  text-decoration: none;
  padding: 0;
  cursor: pointer;
}
